#ttv-emoji-btn {
  height: 3rem;
  width: auto;
  cursor: pointer;
  position: relative;
  filter: grayscale(100%);
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#ttv-emoji-btn:hover {
  filter: none;
  background-color: rgba(177, 177, 177, 0.2);
}

#ttv-emoji-popup-container {
  position: absolute;
  z-index: 10;
  width: 31.7rem;
  height: 50rem;
  bottom: 10rem;
  right: -5rem;
  border: 0.2rem solid #9546df;
  background-color: rgb(10, 10, 10);
  border-radius: 0.5rem;
  overflow-y: auto;
}

#ttv-emoji-popup-container #combo-edit-btn {
  padding: 0.5rem 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
  margin: 1rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

#ttv-emoji-popup-container #combo-edit-btn:hover {
  background-color: #222;
}

#ttv-emoji-popup-container .edit-tip {
  position: absolute;
  top: 1.5rem;
  left: 12rem;
  animation: 3s fade-tooltip forwards ease-in;
}

#ttv-emoji-popup-container .emoji-grid {
  display: block;
  padding: 1rem;
}

#ttv-emoji-popup-container .emoji-grid .category {
  padding: 1rem 0;
}

#ttv-emoji-popup-container .emoji-grid .category .header {
  color: rgb(209, 209, 209);
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}

#ttv-emoji-popup-container .emoji-grid .category .ttv-emoji-contents {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* gap: 3px; */
}

#ttv-emoji-popup-container .emoji-grid .category .combos {
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem;
}

#ttv-emoji-popup-container
  .emoji-grid
  .category
  .ttv-emoji-contents
  .emoji-item {
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  cursor: pointer;
  border-radius: 0.3rem;
}

#ttv-emoji-popup-container
  .emoji-grid
  .category
  .ttv-emoji-contents
  .combo {
  width: 100%;
  border: 0.1rem solid rgb(150, 150, 150);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  position: relative;
}

#ttv-emoji-popup-container
  .emoji-grid
  .category
  .ttv-emoji-contents
  .combo
  .right-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
  font-size: 1.5rem;
  height: 1rem;
  cursor: pointer;
}

#ttv-emoji-popup-container
  .emoji-grid
  .category
  .ttv-emoji-contents
  .combo
  .left-btn {
  float: left;
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-size: 1.5rem;
  height: 1rem;
  cursor: pointer;
}

#ttv-emoji-popup-container
  .emoji-grid
  .category
  .ttv-emoji-contents
  .span-two {
  grid-column-end: span 2;
}

#ttv-emoji-popup-container
  .emoji-grid
  .category
  .ttv-emoji-contents
  .span-three {
  grid-column-end: span 3;
}

#ttv-emoji-popup-container
  .emoji-grid
  .category
  .ttv-emoji-contents
  .span-four {
  grid-column-end: span 4;
}

#ttv-emoji-popup-container
  .emoji-grid
  .category
  .ttv-emoji-contents
  .combo:hover,
#ttv-emoji-popup-container
  .emoji-grid
  .category
  .ttv-emoji-contents
  .emoji:hover {
  background-color: #333;
}

#ttv-emoji-popup-container
  .emoji-grid
  .category
  .ttv-emoji-contents
  .edit-mode {
  cursor: pointer;
}

#ttv-emoji-popup-container
  .emoji-grid
  .category
  .ttv-emoji-contents
  .edit-mode:hover {
  background: rgba(179, 0, 250, 0.5);
}

#ttv-emoji-popup-container
  .emoji-grid
  .category
  .ttv-emoji-contents
  .add-combo {
  text-align: center;
  font-size: 1.8rem;
  vertical-align: middle;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

@keyframes fade-tooltip {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
